<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>p2p网贷平台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="css/common.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/user.css">
    <script type="text/javascript" src="script/jquery.min.js"></script>
    <style type="text/css">
        #                                                                                                                                                                                                              、】=MsnDialog.ad, #MyMoveAd, #QQ_Full, #ad-SNSSplashAd, #ad6cn, #adBody07, #adLeftFloat,
        #adRightFloat, #ad_box1, #ad_box2, #ad_full, #ad_headerbanner, #ads_c_tpc, #ads_top_video,
        #adtop1, #adx_cggp, #crazy_ad_float, #crazy_ad_layer, #cs_left_couplet, #cs_right_couplet,
        #doyoo_mon_mask, #doyoo_monitor, #duilian_left, #duilian_right, #eis_pad1, #eis_pad2, #floatAd,
        #floatad-winpop, #fwin_popad_7ree, #fwin_popad_7ree + #fwin_dialog, #gg300, #googleAdIndexTop,
        #haoetv1, #js-ad-map, #js_ads_banner_top, #js_ads_banner_top_slide, #kfpopupDiv, #leftCouple,
        #leftCouplet, #leftFloat + #rightFloat, #left_couple, #left_down_float_ad, #left_float + #right_float,
        #left_top_ad, #left_up_float_ad, #lovexin1, #lovexin11, #lovexin12, #lovexin13, #lovexin14 {
            display: none!important; z-index:-1!important; height:0px!important;
        }

        #lovexin2, #mbjx_ad, #miaov_float_layer, #micast_ads, #movieInfoRight, #my-adsFPR, #navcontainer + .moneyarea,
        #netease_mail_footer, #olfullad, #overture_ads_bottom_td, #overture_ads_top_td, #popup.t, #ptcmsad1, #qj960a,
        #qj960b, #results.content-main > .eLeft, #rightCouple, #rightCouple + #leftFloat, #rightCouplet,
        #rightCouplet + #leftFloat, #right_couple, #right_couple + #left_float, #right_down_float_ad, #right_up_float_ad,
        #shareman_ad, #sitefocus.focus, #snActive-wrap, #table1 [width="468"][height="50"], #table1[width="794"][height="60"],
        #table1[width="812"][height="50"], #tanx-con-1, #tanx-fold-main, #textggs, #top_ads0, #toperAd2,
        #toptb + div[align="center"], #tr_ad1, #tr_ad10, #tr_ad11, #tr_ad2, #tr_ad3, #tr_ad4, #tr_ad5, #tr_ad6, #tr_ad7,
        #tr_ad8, #tr_ad9, #tripadvisor-ad, #xinnxi, #xinxi {
            display: none!important; z-index:-1!important; height:0px!important;
        }

        #zds_ad, ._cggp, ._ggs, ._popIn_recommend_article_ad, ._popIn_recommend_article_ad_reserved, .a_cn, .a_fl, .a_pb,
        .a_pr, .a_sxc, .a_xsfl, .ad-above-footer, .ad-below-adjacent-post, .ad-below-header-menu, .ad-below-post-title,
        .ad-below-related-post, .ad-couplet-common, .ad-left-down, .ad-left-top, .ad-right-down, .ad-right-top, .ad-site,
        .ad250left, .ad250right, .ad300left, .ad336left, .ad990x130, .ad990x90, .ad_couplebanner, .ad_fixed,
        .ad_footerbanner, .ad_headerbanner, .ad_hf, .ad_home_current, .ad_midd, .ad_right_1, .ad_right_2, .ad_thread,
        .ads > a > img[src*=".sinaimg."], .adsense160, .adsense200, .adsoho, .assort-ad, .banner-ad-section, .bdyp-sygg-ul,
        .below_ads, .bm.a_c, .bn728-93, .bottom-adv, .bottomSponsor
        { display: none!important; z-index:-1!important; height:0px!important;}

        .bus_adsbox, .cari-ads, .chat-ad, .chat-right-ad, .chat-sysbroadcast-ad, .chat-top-ad, .comiis_adbox, .con_ad,
        .content-video > .ads, .content-video > .ads-player, .content_ad_300, .couplet_9cb0d, .customSlideshow-ad-below, .d_slidebanner,
        .f-sign-cont[data-dysign-adid], .gg1000, .gg430, .gg_300, .gg_950, .gg_960, .gg_full, .ggad, .ggdistich, .gggtop,
        .ggpost-below, .ggtop, .google_adsense2, .gpt_ads_box, .hao123-unionad-pic, .heg > .div-list,
        .his-sign-cont[data-dysign-adid], .iHead960x90, .index_alert_gg, .indexad2, .indexad3, .indexad4,
        .it618_firstad_flex, .kf_qycn_com_cckf_welcomebox, .leftadv, .lol-ad, .lol_ad, .lyzm-prevent, .menutab_ad, .ml_ad1,
        .ml_ad3, .ml_ad5, .mlad, .movie-advert-link, .pagead_3, .player-bottom-gg
        { display: none!important; z-index:-1!important; height:0px!important;}

        .readerAd, .room-ad-bottom, .room-ad-top, .room-ad-video-down, .scupioadslot, .sxAdBox, .theme_custom_slidebox-ad-below,
        .tipadds, .tmall_ad_container, .top-read-ad, .topSponsor, .toy52_outer, .toy52apparel_ALL, .twavt-ads,
        .wf_ad_block, .widget_ad_sidebar, .widget_adbox, .wp.a_f, .wp.a_h, .wumii-bottom-popup, .wumii-widget-ad,
        .wzad, .yd_ad, .yd_ad1, .yd_ad2, .yd_ad3, .yd_ad5, .yd_ad6, .zone_wap_banner2, A[href*=".com/?Agent="],
        a[href*=".123ch.cn"], a[href*=".222bz.com/"], a[href*=".9xiazaiqi.com"], a[href*=".com/?Extend="],
        a[href*=".com/?p="][target="_blank"] > img[src$=".gif"], a[href*=".com/Register.aspx?aid="], a[href*=".com/Register/?a="],
        a[href*=".com/Register?a="], a[href*=".com?aff="], a[href*=".com?intr="], a[href*=".downok.com"], a[href*=".qpzqxz.com/"],
        a[href*=".qtj5.com/"], a[href*=".tudown.com/"], a[href*=".wjLkj.com/"], a[href*=".yyk2.com/"], a[href*="/?INTR="], a[href*="/?Intr="],
        a[href*="/?intr="], a[href^="http://ad.moemoe."]
        { display: none!important; z-index:-1!important; height:0px!important;}


        a[href^="http://go.gotourl.xyz/"], a[href^="http://www.upupoo.com/?"], a[href^="https://hi.potvpn.com/?from="],
        body[onload*="u()"] > #x, div#ad_id, div[id^="ad_thread"], img[src$="/2016-0114-700X70.gif"] ~ a[onmouseover="this.style.background='#DEF5CD';"]:nth-child(-n+226),
        img[src$="/2016-0114-700X70.gif"] ~ span[class^="f"] > span > a[onmouseover="this.style.background='#DEF5CD';"]:first-child:last-child,
        img[src$="/47650fdad90b35b07d9339b792713f7e.gif"] ~ a[onmouseover="this.style.background='#DEF5CD';"]:nth-child(-n+226),
        img[src$="/47650fdad90b35b07d9339b792713f7e.gif"] ~ span[class^="f"] > span > a[onmouseover="this.style.background='#DEF5CD';"]:first-child:last-child,
        img[src$="/a1b45005bda18472821222856c6d4f99.gif"] ~ a[onmouseover="this.style.background='#DEF5CD';"]:nth-child(-n+226),
        img[src$="/a1b45005bda18472821222856c6d4f99.gif"] ~ span[class^="f"] > span > a[onmouseover="this.style.background='#DEF5CD';"]:first-child:last-child,
        script + #rbbox, script + .sptable[cellpadding="5"], script + .sptable_do_not_remove[cellpadding="5"],
        table[style="border:#e8e8e8 1px solid;"] + div[style="margin-top:5px"] > table[style="width:100%;"][cellspacing="0"][cellpadding="1"][bordercolor="#999999"][border="1"],
        [style="display:none"] + iframe[scrolling="no"][src*="//"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"],
        div:not([id]):not([class]):not([style]) > div:not([id]):not([class]):not([style]) > iframe[scrolling="no"][src*="//"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"],
        div[style^="width: 100%;"][style$="display: block;"] iframe[scrolling="no"][src*="//"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"],
        div[style^="width: 100%;"][style$="margin: 0px;"] iframe[scrolling="no"][src*="//"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"], div[style^="width: 100%;"][style$="opacity: 100;"] iframe[scrolling="no"][src*="//"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"],
        div[style^="width: 100%;"][style$="overflow: hidden;"] iframe[scrolling="no"][src*="//"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"], div[style^="width: 100%;"][style$="visibility: visible;"] iframe[scrolling="no"][src*="//"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"],
        div[style^="width: 100%;"][style$="z-index: inherit;"] iframe[scrolling="no"][src*="//"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"], #cpro_container, a[href*="/mobads.php?"], div[id][style="width: 100%;"] > div > div > iframe[scrolling="no"][src^="http"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"],
        div[id][style="width: 100%;"] > div > iframe[scrolling="no"][src^="http"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"], div[id][style="width: 100%;"] > iframe[scrolling="no"][src^="http"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"],
        div[style="width: 100%;"]:not([id]):not([class]) > iframe[scrolling="no"][src*="//"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"], div[style^="width: 100%;"]:not([id]):not([class]) > iframe[scrolling="no"][src^="http"][src*="?"][src*="="][src*="&"][width][height][frameborder="0"],
        .footer > #box[style="width:100%;height:100%;position:fixed;top:0"],a[href^="http://yunbofangbt."], #j-new-ad, .a_sxfl, .a_sxmu, .a_sxp, .a_sxpb, .heg > .partner-list, a[href^="/dasp.php?a="], [class^="ADTOPLB"]
        { display: none!important; z-index:-1!important; height:0px!important;}

    </style>

    <style type="text/css">
        .adsbygoogle, .ggbox, .banner-site, .a_p, .a_fr, a[href*="/cpro/"], a[href*="/cpro."], a[href*="/?aff="], a[href*=".umeng.com"],
        a > img[width="980"][src*=".sinaimg."], a > img[width="960"][src*=".sinaimg."], a > img[src*=".sinaimg."][src$=".gif"][style*="width:960"],
        .wp.a_t, .widget_ui_ads, .baiduad, .a_pt, .a_mu, #kfivtwin, #haoetv, #gg1
        { display: none!important; z-index:-1!important; height:0px!important;}
    </style>

    <script type="text/javascript" src="script/common.js"></script>
    <script src="script/user.js" type="text/javascript"></script>
    <style id="tsbrowser_video_independent_player_style" type="text/css">
        [tsbrowser_force_max_size] {width: 100% !important; height: 100% !important; left: 0px !important; top: 0px !important; margin: 0px !important; padding: 0px !important;}
        [tsbrowser_force_fixed] { position: fixed !important; z-index: 9999 !important; background: black !important;}
        [tsbrowser_force_hidden] { opacity: 0 !important; z-index: 0 !important;}
        [tsbrowser_hide_scrollbar] {overflow: hidden !important;}
    </style>
</head>
<body>
<header>
    <div  th:fragment="top">
        <div class="header-top min-width">
            <div class="container fn-clear"> <strong class="fn-left">咨询热线：400-668-6698<span class="s-time">服务时间：9:00 - 18:00</span></strong>
                <ul class="header_contact">
                    <li class="c_1"> <a class="ico_head_weixin" id="wx"></a>
                        <div class="ceng" id="weixin_xlgz" style="display: none;">
                            <div class="cnr"> <img src="images/code.png"> </div>
                            <b class="ar_up ar_top"></b> <b class="ar_up_in ar_top_in"></b> </div>
                    </li>
                    <li class="c_2"><a href="#" target="_blank" title="官方QQ" alt="官方QQ"><b class="ico_head_QQ"></b></a></li>
                    <li class="c_4"><a href="#" target="_blank" title="新浪微博" alt="新浪微博"><b class="ico_head_sina"></b></a></li>
                </ul>
                <ul class="fn-right header-top-ul">
                    <li> <a href="index.html" class="app">返回首页</a> </li>
                    <li>
                        <div class=""><a href="#" class="c-orange" title="退出">退出</a></div>
                    </li>
                    <li>
                        <div class=""><a href="#" class="js-login" title="注销">注销</a></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header min-width">
            <div class="container">
                <div class="fn-left logo" style="position: relative; top: -20px"> <a class="" href="index.html"> <img src="images/logo.png"  title=""> </a> </div>
                <ul class="top-nav fn-clear">
                    <li class="on"> <a href="index.html">首页</a> </li>
                    <li> <a href="list.html" class="">我要投资</a> </li>
                    <li class="top-nav-safe"> <a href="#">我的账户</a> </li>
                    <li> <a href="帮助中心.html">安全保障</a> </li>
                    <li> <a href="公司简介.html">关于我们</a> </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!--个人中心-->
<div class="wrapper wbgcolor">
  <div class="w1200 personal">

    <div id="personal-left" class="personal-left" th:fragment="left">
      <ul>
        <li class="pleft-cur"><span><a href="#"><i class="dot dot1"></i>账户总览</a></span></li>
        <li class=""><span><a href="#"><i class="dot dot02"></i>交易记录</a> </span> </li>
        <li class=""><span><a style="font-size:14px;text-align:center; width:88px;" href="#"><i class="dot dot07"></i>回款计划</a></span></li>
        <li><span><a href="#"><i class="dot dot03"></i>充值</a></span></li>
        <li class=""><span><a href="#"><i class="dot dot04"></i>提现</a></span></li>
        <li style="position:relative;" class=""> <span> <a href="#"> <i class="dot dot06"></i> 我的红包 </a> </span> </li>
        <li style="position:relative;"> <span> <a href="#"><i class="dot dot08"></i>系统信息 </a> </span> </li>
        <li><span><a href="#"><i class="dot dot09"></i>账户设置</a></span></li>
        <!--<li class=""><span><a href="#"><i class="dot dot10"></i>资金记录</a></span></li>-->
        <!--<li class=""><span><a href="#"><i class="dot dot11"></i>投资记录</a></span></li>-->
        <!--<li class=""><span><a href="#"><i class="dot dot12"></i>回款计划</a></span></li>-->
      </ul>
    </div>
    <style type="text/css">
		.invest-tab .on  a{color:#fff;}
	</style>
    <div class="personal-main">
      <div class="personal-investnote">
        <h3><i>投资记录</i></h3>
        <div class="investnote-money"> <span><b class="fb">累计投资</b><br>
          <i>0.00</i> 元 </span> <span><b class="fb">累计收益</b><br>
          <i class="c-pink">0.00</i> 元 </span> <span><b class="fb">待收本金</b><br>
          <i>0.00</i> 元 </span> <span class="none"><b class="fb">待收收益</b><br>
          <i>0.00</i> 元 </span> </div>
        <form id="form" name="form" method="post" action="#">
          <script type="text/javascript">clearPage = function() {PrimeFaces.ab({source:'form:j_idt82',formId:'form',process:'form:j_idt82',params:arguments[0]});}</script>
          <span id="form:dataTable">
          <div class="invest-tab">
            <ul>
              <li class="on"><span><a href="#" title="投标中">投标中 </a> </span> </li>
              <li><a href="#" title="回款中">回款中 </a> </li>
              <li><a href="#" title="已结束">已结束 </a> </li>
            </ul>
          </div>
          <div class="investnote-list">
            <div class="investnote-contitle"> <span class="investnote-w1 fb">交易时间</span> <span class="investnote-w2 fb">项目</span> <span class="investnote-w3 fb">状态</span> <span class="investnote-hbw4 fb">我的投资</span> <span class="investnote-hbw5 fb">我的收益</span> <span class="investnote-hbw6 fb">操作</span> </div>
            <ul>
              <li><span class="investnote-w1">2015-10-1</span><span class="investnote-w2">债权转让</span><span class="investnote-w3">已还款</span><span class="investnote-hbw4">12000.00</span> <span class="investnote-hbw5">12000.00</span> <span class="investnote-hbw6"><a href="#">删除</a></span></li>
              <li><span class="investnote-w1">2015-10-1</span><span class="investnote-w2">债权转让</span><span class="investnote-w3">已还款</span><span class="investnote-hbw4">12000.00</span> <span class="investnote-hbw5">12000.00</span> <span class="investnote-hbw6"><a href="#">删除</a></span></li>
              <li><span class="investnote-w1">2015-10-1</span><span class="investnote-w2">债权转让</span><span class="investnote-w3">已还款</span><span class="investnote-hbw4">12000.00</span> <span class="investnote-hbw5">12000.00</span> <span class="investnote-hbw6"><a href="#">删除</a></span></li>
              <li><span class="investnote-w1">2015-10-1</span><span class="investnote-w2">债权转让</span><span class="investnote-w3">已还款</span><span class="investnote-hbw4">12000.00</span> <span class="investnote-hbw5">12000.00</span> <span class="investnote-hbw6"><a href="#">删除</a></span></li>
              <!--<div style=" width:760px;height:200px;padding-top:100px; text-align:center;color:#d4d4d4; font-size:16px;">
								 <img src="images/nondata.png" width="60" height="60"><br><br>
								   暂无投资记录</div>-->
            </ul>
          </div>
          </span>
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--网站底部-->
<div id="footer" class="ft" th:fragment="bottom">
  <div class="ft-inner clearfix">
    <div class="ft-helper clearfix">
      <dl>
        <dt>关于我们</dt>
        <dd><a href="#">公司简介</a><a href="#">管理团队</a><a href="#">网站公告</a></dd>
      </dl>
      <dl>
        <dt>相关业务</dt>
        <dd><a href="#">我要投资</a><a href="#">我要借款</a></dd>
      </dl>
      <dl>
        <dt>帮助中心</dt>
        <dd><a href="#">新手入门</a><a href="#">我的账户</a><a href="#">债权转让</a></dd>
      </dl>
      <dl>
        <dt>联系我们</dt>
        <dd><a href="#">联系我们</a></dd>
      </dl>
    </div>
    <div class="ft-service">
      <dl>
        <dd>
          <p><strong>400-660-1268</strong><br>
            工作日 9:00-22:00<br>
            官方交流群:<em>12345678</em><br>
            工作日 9:00-22:00 / 周六 9:00-18:00<br>
          </p>
          <div class="ft-serv-handle clearfix"><a class="icon-hdSprite icon-ft-sina a-move a-moveHover" title="亿人宝新浪微博" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-qqweibo a-move a-moveHover" title="亿人宝腾讯微博" target="_blank" href="https://www.codezhijia.com/template/demo/52/%E4%B8%AA%E4%BA%BA%E4%B8%AD%E5%BF%83-%E6%8A%95%E8%B5%84%E8%AE%B0%E5%BD%95.html#"></a><a class="icon-ft-qun a-move a-moveHover" title="亿人宝QQ群" target="_blank" href="https://www.codezhijia.com/template/demo/52/%E4%B8%AA%E4%BA%BA%E4%B8%AD%E5%BF%83-%E6%8A%95%E8%B5%84%E8%AE%B0%E5%BD%95.html#"></a><a class="icon-hdSprite icon-ft-email a-move a-moveHover mrn" title="阳光易贷email" target="_blank" href="mailto:xz@yirenbao.com"></a></div>
        </dd>
      </dl>
    </div>
    <div class="ft-wap clearfix">
      <dl>
        <dt>官方二维码</dt>
        <dd><span class="icon-ft-erweima"><img src="images/code.png" style="display: inline;"></span></dd>
      </dl>
    </div>
  </div>
  <div class="ft-record">
    <div class="ft-approve clearfix"><a class="icon-approve approve-0 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-1 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-2 fadeIn-2s" target="_blank" href="https://www.codezhijia.com/template/demo/52/%E4%B8%AA%E4%BA%BA%E4%B8%AD%E5%BF%83-%E6%8A%95%E8%B5%84%E8%AE%B0%E5%BD%95.html#"></a><a class="icon-approve approve-3 fadeIn-2s" target="_blank" href="https://www.codezhijia.com/template/demo/52/%E4%B8%AA%E4%BA%BA%E4%B8%AD%E5%BF%83-%E6%8A%95%E8%B5%84%E8%AE%B0%E5%BD%95.html#"></a></div>
    <div class="ft-identity">©2019 橘子理财 All rights reserved&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;橘子理财投资管理有限公司&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备12345678号-1</a></div>
  </div>
</div>


</body></html>